# fly.toml app configuration file generated for moderacion-bot--v1tta on 2026-01-18T22:14:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'moderacion-bot--v1tta'
primary_region = 'ams'

[build]
  builder = 'paketobuildpacks/builder:base'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
